body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    user-select: none;
    color: white;
}
body,html{
    overflow-x: hidden;
}

.main{
    width: 100%;
    max-width: 1015px;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    margin: 40px 0px;

    gap: 250px;
}

header .menu-icon{
    display: none;
}
header .men{
    background-color: white;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    margin: 10px 0px;
}
header .logo{
   width: 200px;
}
header .logo img{
    width: 100%;
}
nav{
    flex: 1;
}
nav ul{
    display: flex;
    list-style: none;
    margin:0;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav li{
    margin: 0px 10px;
}

.container{
    display: flex;
    gap: 240px;
}
.container h1{
    font-weight: bold;
    inline-size: 450px;
    font-size: 40px;
}
.container p{
    inline-size: 450px;
}
.content-area{
    margin: 100px 0px;
}
.phone-area{
    margin: 10px 0px;
}
.phone-area img{
    width: 220px;
    height: auto;
    position: relative;
}
.phone-area .phone-1{
    z-index: 2;
}
.phone-area .phone-2{
    margin: 50px -150px;
    position: relative;
    z-index:1;
}
.action{
    display: flex;
    gap: 20px;
}
.action button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
}
.action .button-1{
    background-color: #29BE56
}
.action .button-2{
    background-color: #3498DB
}

@media(max-width:850px){

    .main header .menu{
        display: none;
    }
    .main header .menu-icon{
        display: block;
    }
    .main header{
        gap: 50px;
    }

    .container{
        flex-direction: column;
        gap: 0px;
    }
    .container .content-area{
        text-align: center;
    }
    .container .content-area h1{
        inline-size: auto;
    }
    .container .content-area p{
        inline-size: auto;
    }
    .container .action{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container .phone-area{
        justify-content: center;
        align-items: center;
    }

}

